<body>
<table class="book-table">
	<tr>
		<th></th>
		<th>Title</th>
		<th>Authors</th>
	</tr>
	{% for book in books %}
	<tr>
	   <td><img src="{{ book.thumbnail_link }}" class="thumbnail" /></td>
	   <td>{{book.title}}</td>
	   <td>{{book.authors}}</td>
	   {% if show_add_buttons %}
			<td>
		   		<form id="form-add{{ book.google_books_id }}" class="add-book-form" action="/books/add" method="POST">
		   			<input type="hidden" name="book" value="{{book}}"/>
		   			<button type="button" class="addButton">Add</button>
		   		</form>
		   	</td>	   
	   	{% endif %}
	</tr>
	{% endfor %}
</table>

<script>
	$(document).ready(function() {
	    $('.addButton').click(function() {
	    	debugger;
	        $.ajax({
	            url: "{{ url_for('add_book') }}",
	            data: $('form').serialize(),
	            type: 'POST',
	            success: function(response) {
	                console.log(response);
	            },
	            error: function(error) {
	                console.log(error);
	            }
	        });
	    });
	});
 // wait for the DOM to be loaded
 // $(function() {
 // 	alert("Add book clicked");
 //   // bind 'myForm' and provide a simple callback function
 //   $('.add-book-form').ajaxForm(function() {
 //       alert("Book added!");
 //   });
 // });
</script>
</body>