<table class="book-table">
	<tr>
		<th></th>
		<th>Title</th>
		<th>Authors</th>
	</tr>
	{% for book in books %}
	<tr>
	   <td><img src="{{ book.thumbnail_link }}" class="thumbnail" /></td>
	   <td>{{book.title}}</td>
	   <td>{{book.authors}}</td>
<!-- 	   {% if show_add_buttons %}
			<td>
		   	<form class="add-book-form" action="/books/add" method="POST">
		   		<input type="hidden" name="book" value="{{book}}"/>
		   		<input type="submit" value="Add" />
		   		</form>
		   	</td>	   
	   	{% endif %} -->
	</tr>
	{% endfor %}
</table>

<!-- <script>
	alert('k1');
 // wait for the DOM to be loaded
 $(function() {
 	alert('k');
   // bind 'myForm' and provide a simple callback function
   $('.add-book-form').ajaxForm(function() {
       alert("Thank you for your comment!");
   });
 });
</script> -->