<!-- /books/add -->
<!-- Search for platonic books and add them to your collection. -->
{% extends 'default.html' %}

{% block body %}
    <h1>Add A Book</h1>
    <!-- <p>{{response_body}}</p> -->
    <form class="search-bar" action="{{ url_for('search_books') }}">
    	<input type="text" name="query" value="{{query if query else ''}}">
        <select name="scope">
            <option value="">all</option>
            <option value="intitle">title</option>
            <option value="inauthor">author</option>
        </select>
    	<input type="submit" class="form-button" value="Search">
    </form>
    {% if books %}
        {% with show_add_buttons = True %}
    	   {% include 'books/book_table.html' %}
        {% endwith %}
        <a href="#" class="previous">&laquo; Previous</a>
        <a href="#" class="next">Next &raquo;</a>
    {% elif query %}
        <p>No books found matching '{{query}}'</p>
    {% endif %}
{% endblock %}



