{% extends 'default.html' %}

{% block body %}
    <h1>Add A Book</h1>
    <!-- <p>{{response_body}}</p> -->
    <form action="/books/add">
    	 <legend>Add a book:</legend>
    	<input type="text" name="query">
    	<input type="submit">
    </form>
    <table class="book-table">
		<tr>
			<th>Title</th>
			<th>Authors</th>
		</tr>
		{% for book in books %}
		<tr>
		   <td>{{book.title}}</td>
		   <td>
				{% set comma = joiner(",") %}    
				{% for author in book.authors %}
				    {{ comma() }}
				    {{ author.name }}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
