* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", Arial, sans-serif;
    margin:0;
}
#page-content {
    max-width: 90%;
    margin: 20px auto;
    display: block;
    clear: both;
    overflow: hidden;
    text-align: center;
}
#page-content h1 {
    font-weight: 300;
    margin: 1em 0;
}
a:hover {
	text-decoration: none;
	color: #71aae7;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-right {
    float: right;
}
.hidden {
    display: none;
}

/*************
** FLASH
**************/
.flash {
    padding: 10px;
    color: white;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr auto;
}
.flash.alert-success {
    background-color: #00B15A;
}

.flash.alert-error {
    background-color: #D74038;
}

.flash.alert-message {
    background-color: #335555;
}

.flash-dismiss {
    border: none;
    background  : rgba(255, 255, 255, .2);
    border-radius: 10%;
}

.flash-dismiss:hover {
    background  : rgba(255, 255, 255, .4);
    border: none;
}

.flash-dismiss:active {
    background  : rgba(0, 0, 0, .2);
}



/*************
** FORMS
**************/
.form {
    width: 95%;
    margin: 0 auto;
}
.form h1 {
    text-align: center;
}
.form label {
    margin-top: 8px;
    margin-bottom: 3px;
    clear: left;
    float: left;
}
.form input {
    display: block;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #B3B3B3;
    font-size: 1em;
    padding-left: 8px;
}
.form input[type="text"], .form input[type="password"] {
    width: 100%;
}

.form .btn {
    margin: 15px 0px 15px 0px;
}

/*.form input[type="submit"] {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-weight: 400;
    background-color: #71aae7;
    color: white;
    cursor: pointer;
}
.form input[type="submit"]:hover {
    transition: background-color 0.5s ease;
    background-color: #00A400;
}*/
.form .form_field_errors{
    margin: 0px;
}

.form-button {
    background-color: #066;
    color: white;
    border: none;
    display: inline-block;
    padding: 8px 12px;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    display: inline-block;
    padding: 8px 16px;
}

.previous:visited {
    color: black;
}

.next {
    background-color: #066;
    color: white;
    display: inline-block;
    padding: 8px 16px;
}
.next:visited {
    color: white;
}

.search-bar {
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #066;
    color: white;
    border: none;
    display: inline-block;
    padding: 8px 12px;
}
/*************
** TABLES
**************/
.book-table {
    margin: 1em auto;
}

.book-table td, .book-table th {
    padding: 0.5em 1em 0.5em 0.5em;  
    text-align: left;
}

.book-table th {
    font-weight: bold;
    background: #F0F0F0;
}

.table {
    table-layout: auto;
    margin: 1em auto;
    border-collapse: collapse;
    width: 100%;
}
.table td, th {
    text-align: left;
}
.table .absorbing-column {
    width: 100%;
}

/*************
** FOOTER
**************/
#footer
{
    border-top: 2px solid #EDEFF0;
    margin-top: 50px;
    padding: 30px 0;
    font-size: 0.7em;
    text-align: center;
    color: #828282;

}

/*************
** GRID
**************/

.membership-requests-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.book-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 100px;
}

.book-grid-item {
    max-width: 300px;
}
/*************
** HEADER
**************/
#header
{
  	background-color: #144;
  	padding: 10px 0px;
    color: white;
    font-family: "Garamond";
    font-size: 18px;
}
#navbar a {
	text-decoration: none;
	color: white;
}
#navbar a:hover {
	text-decoration: none;
	color: #71aae7;
}
#navbar .site-title
{
    float: left;
    padding: 10px;
    font-size: 32px;
    width: auto;
    display: inline-block;
    color: white;
}
#navbar .site-subtitle {
    float: left;
    margin-top: 25px
}
.navbar-content {
    margin: 10px 5px 0px 5px;
    padding: 10px;
    width: inherit;
    color: white;
    display: inline;
}
#navbar .inline-link {
    margin: 0px;
    width: inherit;
    color: #71aae7;
    display: inline;
}
#navbar #navigation_auth{
    margin-top: 35px;
    float: right;
}

#navbar .main_link {
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 3px;
	border: 2px solid white;
}
#navbar .main_link:hover {
    border-color: #71aae7;
}
#page-content {
    max-width: 80%;
}
}
/*************
** column
**************/
.column {
    width: 300px;
    height: 300px;
    max-height: 300px;
    border-radius: 4px;
    margin: 0px 8px;
    border: 1px solid #D9DADB;
    /*background: #D9DADB;*/
    overflow: hidden;
    cursor: pointer;
    cursor: hand;
    cursor: grab;
    cursor: -webkit-grab;
    display: inline-block;
}
.column-container {
    height: calc(100% - 45px);
    width: 100%;
    overflow-y:scroll; 
    position:relative;
}
.column > p {
    font-weight: 500;
    font-size: 1.1em;
    text-align: left;
    padding: 10px 10px;
    margin: 0px;
    border-bottom: 1px solid #D9DADB;
}
.column-item{
    width: 93%;
    margin: 7px auto;
    height: 50px;
    background: white;
    border-radius: 3px;
    color: black;
    z-index: -1;
    border-bottom: 1px solid #D9DADB;
    /*box-shadow: 1px 1px 1px #AEB0B0;*/
    cursor: pointer;
}
.column-item p{
    margin: 0px 0px;
}

/*************
** DESCRIPTION LIST
**************/
.dt-label {
    font-weight: normal;
    text-align: left;
}
