{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    	{% set alert_class = 'success' %}
    {% else %}
    	{% set alert_class = 'danger' %}
            <div class="alert alert-{{alert_class}}"><span class="align-center">{{ message }}</span><span class="align-right">x</span></div>
    {% endif %}
    {% endfor %}
{% endwith %}
{#
<div class="alert alert-success"><span class="align-center">test flash message 1</span><span class="align-right">x</span></div>
<div class="alert alert-danger"><span class="align-center">test flash message 2</span><span class="align-right">x</span></div>
#}