<div id="navbar">
    <h1><a href="{{ url_for('houses') }}">{{ config.SITE_NAME }}</a></h1>

    <div id="navigation_links">
        <a href="{{ url_for('search_books') }}">Add A Book</a>
    </div>

    <div id="navigation_auth">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a class="main_link" href="{{ url_for('register') }}">Sign up</a>
        {% endif %}
    </div>
</div>