<div id="navbar">
    <h1><a href="{{ url_for('home') }}">{{ config.SITE_NAME }}</a></h1>

    <div id="navigation_links">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('user', user_id=current_user.id) }}">My Books</a>
            <a href="{{ url_for('search_books') }}">Add A Book</a>
        {% endif %}
    </div>

    <div id="navigation_auth">
        {% if current_user.is_authenticated %}
            Logged in as {{current_user.display_name}}. <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a class="main_link" href="{{ url_for('register') }}">Sign up</a>
        {% endif %}
    </div>
</div>