{% extends 'default.html' %}

{% import "form.html" as form_macro %}

{% block body %}
<div class="form">
    <h1>Sign up</h1>
    <form method="POST" action="{{ url_for('register') }}">
        {{ form_macro.render(form) }}
	    <input class="btn btn-primary mx-auto" type="submit" value="Sign Up" />
    </form>
</div>

<script>
	$('#display_name').focus(function() {
		$('#display_name_description').fadeIn();
	})
	$('#display_name').blur(function() {
		$('#display_name_description').fadeOut();
	})
</script>

{% endblock %}

